<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>poetry</title>

    <style type="text/css" media="screen">
        ul {
            list-style: none;
        }
    </style>
</head>
<body>
<ul>
    <li>只要想起一生中后悔的事</li>
    <li>梅花便落了下来</li>
    <li>比如看她游泳到河的另一岸</li>
    <li>比如登上一株松木梯子</li>
    <li>危险的事固然美丽</li>
    <li>不如看她骑马归来</li>
    <li>面颊温暖</li>
    <li>羞惭。低下头，回答着皇帝</li>
    <li>一面镜子永远等候她</li>
    <li>让她坐到镜中常坐的地方</li>
    <li>望着窗外，只要想起一生中后悔的事</li>
    <li>梅花便落满了南山</li>
</ul>
</body>
</html>